body{
    padding:0px;
    margin:10px;
    font-size: 35px;
  }

  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

#contact{
  display: grid;
  grid-template-columns: 130px 300px;
}

*{
  font-family: 'Gowun Dodum', sans-serif;
  color: MediumTurquoise;
}